<div class="ui container">
  <h1>Chart for {{moment-format today "dddd MMMM Do YYYY"}}</h1>
  <div {{action "addValue"}} class="ui button">Add value</div>

  <div class="chart-wrap">
    {{ember-chart type="line" data=chartData options=chartOptions height=600 width=chartWidth}}
  </div>
</div>
{{outlet}}
