<div class="ui container">
  <h1 class="ui header">Tessel Weather</h1>
  <div class="ui menu">
    {{link-to "Today" "index" class="item"}}
    {{link-to "Calendar" "calendar" class="item"}}
    {{link-to "Measurements" "measurement-type" class="item"}}
  </div>
</div>
{{outlet}}
